.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.image-container {
  position: absolute;
  margin: 0 35%;
}
