.imageform {
  width: 60vw;
  margin: 0 auto;
  position: relative;
  top: -50px;
}

p {
  font-size: 2rem;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.new-button {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #9c27b0;
  font-size: 17px;
  color: #fff;
  padding: 15px 25px;
}
input[type="file"] {
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 0;
  font-size: 1px;
  color: rgb(153, 153, 153);
}
.button-wrap {
  position: relative;
}
.search-box {
  width: 90vh;
  margin: 10px;
  padding: 10px 5px;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  outline: none;
}

.button {
  padding: 12px 30px;
  font-size: 1.1rem;
  /* background-color: #007991; */
  margin: 2px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
.button:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

@media (max-width: 700px) {
  p {
    font-size: 1.5rem;
  }
}
