.position {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  /* margin-left: 70px; */
}

.rank {
  font-size: 2rem;
  text-align: center;
}
.entry {
  font-size: 2rem;
}

@media (max-width: 700px) {
  .rank {
    font-size: 1.2rem;
    text-align: center;
  }
  .entry {
    font-size: 1.3rem;
  }
}
