.Tilt {
  margin: 2%;
}
.size {
  width: 20%;
  height: 20%;
}

.logo {
  height: 130px;
  width: 130px;
  padding: 4%;
}

@media (max-width: 700px) {
  .logo {
    height: 90px;
    width: 90px;
    margin: 3px;
  }
  .Tilt {
    margin: 0px;
  }
  .pic {
    height: 80px;
    width: 80px;
  }
}
