@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap");

body {
  font-family: "Merriweather", serif;
}
.login-form {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
  width: 30%;
  height: 450px;
  margin: 0 auto;
  margin-top: 10%;
  padding: 3%;
}
.type-box {
  padding: 10px 15px;
  margin-top: 7%;
  outline: none;
}
.credentials {
  font-size: 1.2rem;
}

.button-sign {
  cursor: pointer;
}

.register {
  font-size: 1.1rem;
  cursor: pointer;
  text-decoration: underline;
}
